@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 27 27 27;
        --foreground: 225 225 225;
        --muted: 115 115 115;
        --accent: 254 254 91;
        --secondary: 43 81 50;
        /* hex value of rgb(254,254,91) color is  #FEFE5B  */
    }
}

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
    .custom-bg {
        @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[20px] shadow-glass-inset hover:shadow-glass-sm;
    }
    .tooltip-bg {
        @apply -translate-y-14 end-0 shadow-white shadow-sm;
    }
}
.backdrop-blur-\[20px\] {
    --tw-backdrop-blur: blur(20px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
        var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
        var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
        var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
        var(--tw-backdrop-sepia);
}
@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100px, 100px);
    }
}
